<!doctype html>
<html lang="en">
<head>
  <title><!--# echo var="title" --></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <meta name="description" content="<!--# echo var="description" -->">
  <meta name="robots" content="index, follow">

  <meta property="og:site_name" content="<!--# echo var="site_name" -->">
  <meta property="og:title" content="<!--# echo var="title" -->">
  <meta property="og:description" content="<!--# echo var="description" -->">
  <meta property="og:image" content="<!--# echo var="og_image" -->">

  <meta name="twitter:title" content="<!--# echo var="title" -->">
  <meta name="twitter:description" content="<!--# echo var="description" -->">
  <meta name="twitter:image" content="<!--# echo var="og_image" -->">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@kyrylosilin">
  <meta name="twitter:site" content="@kyrylosilin">
  <meta name="twitter:image:alt" content="<!--# echo var="title" -->">

  <link rel="canonical" href="<!--# echo var="canonical" -->">
  <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">

  <style>
    body {
      font: 16px monospace;
      line-height: 1.5;
    }

    main,
    header,
    footer {
      max-width: 90ch;
      margin: 0 auto;
    }

  </style>
</head>
<body>
